<ul id="note-list" class="note-list">
  {{#each notes}}
    <li class="note-list-item">

      <div class="note-list-item-col">
        <div class="note-list-item-priority">prio: {{ priority }}</div>
        <div class="note-list-item-created">created: {{formatDate created }}</div>
        <div class="note-list-item-due">due: {{formatDate due }}</div>
        <div class="note-list-item-finished">
          <input type="checkbox" id="item-finished-{{ @index }}" data-action="note-finish" data-id="{{ _id }}" {{#if finished }} checked{{/if}}> <label for="item-finished-{{ @index }}">Finished{{#if finished }}: {{formatDate finishedOn }} {{/if}}</label>
        </div>
      </div>

      <div class="note-list-item-col">
        <h2 class="note-list-item-title">{{ title }}</h2>
        <div class="note-list-item-description">
          <details>
            <summary>{{truncate description 70}}</summary>
            <p>{{ description }}</p>
          </details>
        </div>
      </div>

      <div class="note-list-item-col note-list-item-edit">
        <a href="#edit?id={{ _id }}" class="btn btn-primary">Edit</a>
      </div>
    </li>
  {{/each}}
</ul>
