<li class="notes-list-item">

  <div class="notes-list-item-col">
    <div class="notes-list-item-priority">prio: {{ priority }}</div>
    <div class="notes-list-item-created">created: {{formatDate created }}</div>
    <div class="notes-list-item-due">due: {{formatDate due }}</div>
    <div class="notes-list-item-finished">
      <input type="checkbox" id="item-finished"{{#if finished }} checked{{/if}}><label for="item-finished">Finished: ({{formatDate finishedOn }})</label>
    </div>
  </div>

  <div class="notes-list-item-col">
    <h2 class="notes-list-item-title">{{ title }}</h2>
    <div class="notes-list-item-description">
      {{ description }}
    </div>
  </div>

  <div class="notes-list-item-col notes-list-item-edit">
    <a href="#edit?id={{ id }}" class="btn btn-primary">Edit</a>
  </div>
</li>
